@import '~@nti/style-common';

.administrator-toolbar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	color: white;

	.library-view.library-light-background & {
		color: var(--secondary-grey);

		.controls .admin-nav {
			color: var(--secondary-grey);
			background: white;
			box-shadow: 0 0 3px 0 var(--border-grey);
		}
	}

	.controls {
		display: flex;

		.admin-nav {
			padding: 4px 10px;
			background-color: #555;
			height: 40px;
			border-radius: 30px;
			margin-right: 10px;
			font-size: 16px;
			font-weight: 400;
			color: white;
			cursor: pointer;
			box-sizing: border-box;
			position: relative;
			text-decoration: none;
			display: flex;
			justify-content: center;
			align-items: center;

			.icon-outline {
				background-image: url('../resources/images/outline.svg');
				height: 24px;
				width: 24px;
				margin: 0 5px 0 0;
			}
		}

		.admin-create-button {
			height: 40px;
			width: 115px;
			background-color: var(--primary-blue);
			border-radius: 30px;
			color: white;
			padding: 4px 4px 4px 7px;
			display: flex;
			flex-direction: row;
			align-items: center;
			cursor: pointer;
			box-sizing: border-box;
			position: relative;
			line-height: normal;
			font-weight: 400;

			.add-container {
				background-color: white;
				box-sizing: border-box;
				border-radius: 12px;
				width: 23px;
				height: 23px;
				color: var(--primary-blue);
				padding: 0;
				margin: 0 10px 0 3px;
				font-size: 18px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;

				i {
					letter-spacing: -1.5px;
				}
			}

			.create-label {
				box-sizing: border-box;
				font-size: 16px;
			}
		}
	}
}
