.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--colsize, 242px));
    gap: var(--gap, 14px);
    margin: 0;
    justify-content: center;
}

/* headers and directly nested containers occupy the full available width */
.container > .container,
.header {
	grid-column: 1 / -1;
}
