@import '~@nti/style-common';

.library-collection.library-collection {
	margin-bottom: 30px;
}

.library-collection.library-collection ul {
	list-style: none;
	padding: 0;
	margin: 0 -8px;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	display: flex;
	flex-wrap: wrap;
}

.library-collection.library-collection .library-object {
	width: 242px;
	margin: 7px 9px;
	position: relative;
}

.library-collection.library-collection .library-object a {
	text-decoration: none;
}

@include respond-to(handhelds) {
	.library-collection {
		margin-bottom: 5px;
	}

	.library-collection.library-collection ul {
		display: block;
		white-space: nowrap;
		width: calc(100vw);
		margin: 0;
		padding: 0.625rem;
		overflow-x: auto;
		overflow-y: hidden;

		li {
			display: inline-block;
			vertical-align: top;
			white-space: initial;
		}
	}

	.library-collection.library-collection .library-object {
		width: 185px;
		margin: 0 5px;
	}
}
