.library-collection {
	margin-bottom: 40px;
}

.library-collection ul {
	list-style: none;
	padding: 0;
	margin: 0 -8px;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	display: flex;
}

.library-collection .library-item {
	width: 242px;
	margin: 7px 9px;
	cursor: pointer;
	position: relative;
}
