.nti-course-card-image {
	img::before {
		content: ' ';
		display: block;
		position: absolute;
		width: 100%;
		height: 170px;
		background-image: url(../../resources/images/default-card-image.png);
	}
}
