@import "~@nti/style-common";

.admin-create-options {
	.flyout-inner {
		padding: 0;
		border-radius: 10px;
		width: 200px;
		cursor: pointer;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.21);
		background: white;
		overflow: auto;

		.create-item {
			padding: 1rem 0.5rem 1rem 1.25rem;
			border-bottom: 1px solid var(--border-grey)-light;
			display: flex;
			flex-direction: row;
			align-items: center;

			.option-icon {
				flex: 0 0 auto;
				color: var(--primary-grey);
				margin-right: 0.625rem;
			}

			.option-info {
				flex: 1 1 auto;
			}

			&:last-of-type {
				border-bottom-width: 0;
			}

			.option-title {
				font-size: 14px;
				line-height: 19px;
				font-weight: 600;
				color: var(--primary-grey);
			}

			.option-description {
				font-size: 14px;
				line-height: 19px;
				font-weight: 300;
				color: var(--secondary-grey);
			}
		}
	}
}

.admin-create-button {
	height: 40px;
	width: 115px;
	background-color: var(--primary-blue);
	border-radius: 30px;
	color: white;
	padding: 4px 4px 4px 7px;
	display: flex;
	cursor: pointer;

	.add-container {
		background-color: white;
		border-radius: 12px;
		width: 24px;
		height: 24px;
		color: var(--primary-blue);
		padding: 1px 0 0 3px;
		margin: 4px 10px 0 3px;
		font-size: 18px;
	}

	.create-label {
		margin-top: 4px;
	}
}

.course-panel-header-title, .course-panel-controls {
	font-weight: 400;
}

.empty-list.library-courses {
	background: none;
	border: none;
	padding: 0;
	margin: 1em 40px;
}
