.library-section-title.library-section-title {
	font: normal 300 1.25em/2em var(--body-font-family);
	color: white;
	font-size: 20px;
	margin: 0;
	white-space: nowrap;

	.library-view.library-light-background & {
		color: var(--secondary-grey);
	}
}
