@import '~@nti/style-common';

.library-section-heading.library-section-heading {
	display: flex;
	align-items: baseline;
	grid-column: full;

	/* safari 13 bug doesn't know where "full" starts */
	grid-column-start: 1;

	.course-section-heading {
		width: 100%;
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		margin-left: 0.8em;

		.see-all {
			color: white;
			cursor: pointer;
			font: normal 300 0.875em/2em var(--body-font-family);
			font-size: 14px;
			line-height: 28px;
			text-decoration: none;

			.library-view.library-light-background & {
				color: var(--secondary-grey);
			}
		}
	}

	.course-section-heading-date {
		color: rgba(255, 255, 255, 0.3);
		margin-left: 0.5em;
		font-size: 18px;
		line-height: 18px;
	}
}
